$theme-primary-color: #22a6b3;
$theme-accent-color: #f0932b;
$theme-base-font: 'Lora';
$theme-page-header-actions-background-color: #ffffff;
$theme-body-background-color: #ffffff;
$theme-page-header-background-color: #22a6b3;
