
<div style="width: 50%">
    <h4 style="color: white">In this case we have more to say</h4>
    <p style="color: white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis facere eius praesentium beatae assumenda. Tempore quia neque consequuntur voluptatum quas cupiditate quasi est labore harum nihil, vel repellendus non cumque.</p>
    <p style="color: white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis facere eius praesentium beatae assumenda. Tempore quia neque consequuntur voluptatum quas cupiditate quasi est labore harum nihil, vel repellendus non cumque.</p>
    <p style="color: white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis facere eius praesentium beatae assumenda. Tempore quia neque consequuntur voluptatum quas cupiditate quasi est labore harum nihil, vel repellendus non cumque.</p>
    <p style="color: white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis facere eius praesentium beatae assumenda. Tempore quia neque consequuntur voluptatum quas cupiditate quasi est labore harum nihil, vel repellendus non cumque.</p>
</div>
