
<div style="width: 50%">
    <h4>In this case we have more to say</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis facere eius praesentium beatae assumenda. Tempore quia neque consequuntur voluptatum quas cupiditate quasi est labore harum nihil, vel repellendus non cumque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis facere eius praesentium beatae assumenda. Tempore quia neque consequuntur voluptatum quas cupiditate quasi est labore harum nihil, vel repellendus non cumque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis facere eius praesentium beatae assumenda. Tempore quia neque consequuntur voluptatum quas cupiditate quasi est labore harum nihil, vel repellendus non cumque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis facere eius praesentium beatae assumenda. Tempore quia neque consequuntur voluptatum quas cupiditate quasi est labore harum nihil, vel repellendus non cumque.</p>
</div>
